<div class="form-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field>
        <input matInput
               class="form-control"
               type="text"
               formControlName="username"
               placeholder="Email"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput class="form-control"
               type="password"
               formControlName="password"
               placeholder="Password"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button mat-button type="submit">
        Register
      </button>
      <a mat-link routerLink="/auth/login" class="btn btn-link">Login</a>
    </div>
  </form>
</div>
